
START SNIPPET first_snippet
this is the content of the first snippet
it has multiple lines
END SNIPPET

This is free text out of snippet

USE SNIPPET ./first_snippet

This is a text that will be overwritten by the text of the snippet above


END SNIPPET

text after the snippet use, remains intact